* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0.6rem;
    height: 3rem;
    width: 100vw;
}
.logo {
    height: 2.4rem;
    width: auto;
}
.brand {
    display: flex;
    align-items: center;
}
.site-name {
    margin-left: 0.6rem;
    font-size: 1.5rem;
}
.mbtnav {       
    margin: 0;       
    padding: 0;       
}       
.mbtnav ul {       
    float: left;       
    list-style: none;       
    margin: 0;       
    padding: 0;       
}       
.mbtnav li {       
    list-style: none;       
    margin: 0;       
    padding: 0;       
       
}       
.mbtnav li a, .mbtnav li a:link, .mbtnav li a:visited {  
   color: #ACADB0;       
    display: block;           
   font:bold 12px Helvetica, sans-serif;       
   margin: 0;       
    padding: 9px 12px 11px 12px;       
        text-decoration: none;
        border-right:0px solid #556FD0;       

    
}      
.mbtnav li a:hover, .mbtnav li a:active {              
    color: #E6E6E6;             
    text-decoration: none;       
        margin: 0;       
    padding: 9px 12px 11px 12px;       
       
   
       
}

    
.mbtnav li {      
    float: left;       
    padding: 0;       
}       
.mbtnav li ul {       
    z-index: 9999;       
    position: absolute;       
    left: -999em;       
    overflow: hidden;
    max-height:520px;     
    width: 160px;       
    margin: 0;       
    padding: 0;       
}
.mbtnav li:hover ul {
    overflow: auto;
    max-height:520px;
}       
.mbtnav li ul a {       
    width: 140px;       
}       
.mbtnav li ul ul {       
    margin: -25px 0 0 161px;    
}
    
.mbtnav li:hover ul ul, .mbtnav li:hover ul ul ul, .mbtnav li.sfhover ul ul, .mbtnav li.sfhover ul ul ul {      
    left: -999em;       
}       
.mbtnav li:hover ul, .mbtnav li li:hover ul, .mbtnav li li li:hover ul, .mbtnav li.sfhover ul, .mbtnav li li.sfhover ul, .mbtnav li li li.sfhover ul {       
    left: auto;       
}       
.mbtnav li:hover, .mbtnav li.sfhover {       
    position: static;       
}       
.mbtnav li li a, .mbtnav li li a:link, .mbtnav li li a:visited {       
    background: #EDEFF4;       
    width: 120px;       
    color: #606060;       
    display: block;
    display: block;       
    font:normal 12px Helvetica, sans-serif;       
    margin: 1px 0 0 0;       
    padding: 9px 12px 10px 12px;       
        text-decoration: none;       
z-index:9999;       
border:1px solid #ddd;

    
-moz-border-radius:4px;      
-webkit-border-radius:4px;

    
   
}       
.mbtnav li li a:hover, .mbtnav li li a:active {       
    background: #627AAD;       
    color: #FFF;       
    display: block;      
   
}

    
     
.mbtnav li li li a, .mbtnav li li li a:link, .mbtnav li li li a:visited {

    
    background: #EDEFF4;      
    width: 120px;       
    color: #606060;              
    font:normal 12px Helvetica, sans-serif;       
    padding: 9px 12px 10px 12px;       
        text-decoration: none;       
z-index:9999;       
border:1px solid #ddd;       
    margin: 1px 0 0  -14px;
        
   
   
}       
.mbtnav li li li a:hover, .mbtnav li li li a:active {       
    background: #627AAD;       
    color: #FFF;       
    display: block;    
     
}
.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.articles-item {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0.6rem;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow:  6px 6px 12px #9e9e9e,
             -6px -6px 12px #ffffff;
}
.preview {
    display: flex;
    max-width: 33%;
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    aspect-ratio: 1/1;
}
.article-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.article-detail {
    padding-left: 0.6rem;
}
.article-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}
.article-info {
    font-size: 0.87rem;
    font-weight: 300;
    line-height: 1.2;
    word-wrap: break-word;
}
.article-url {
    text-decoration: none;
    color: #333;
    word-wrap: break-word;
}
.cat-in-loop {
    display: block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 0.6rem;
    color: #333;
    font-size: 1rem;
    font-weight: 300;
    word-wrap: break-word;
}

@media only screen and (max-width: 690px) {
    .menu-container {
        display: none;
    }
    .container {
        display: block;
    }
}
